@{
    ViewBag.Title = "ANASAYFA";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div class="menu-item">

        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>
        <h1>APO</h1>

    </div>
</body>

